*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{

    background-image: url(../imagens/bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 20px;
}

h1{
    font-size: 56px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(250, 253, 255);
    text-shadow: 2px 3px 8px;
}

div{
    border: 4px solid #00000027;
    background-color: #ffff;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    border-radius: 10px;
    box-shadow:2px 3px 8px #3b3a3a15;
    width: 300px;
    height: auto;
    text-align: center;
    gap: 20px;
}

h2{
margin-bottom: 20px;
}

input, button{
    padding: 10px;
    border-radius: 999px;
    width: 100%;
}

button{
    background-color: #000000;
    color: aliceblue;
}

button:hover{
    cursor: pointer;
    background-color: darkgreen;
     
}

h3{
    font-size: 22px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    background-color: #010101;
    width: 100%;
    height: 40px;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 3px 8px #010101;

}